.body {
    font-family: 'Crimson Pro', serif;
    font-size: 48px;
}

.heading {
    gap: 700px;
    display: flex;

}

.banner {
    size: 100%;
}

.nav-title {
    margin-left: 20px;
    font-size: 40px;
}

.nav {

    display: flex;
    text-decoration: black;
    list-style: none;
    gap: 60px;
    text-decoration-line: none;
    color: black;
    font-weight: 100;
}

.archi-groups {
    text-align: center;
}

#archi-groups {
    background-color: rgb(37, 73, 140);
    border-radius: 10px;
    color: azure;
    font-size: 20px;
    font-weight: 100px;
}

.banner {
    margin-block: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#highlight {
    color: rgb(37, 73, 140);
    font-weight: 100px;
}

.explore {
    background-color: rgb(37, 73, 140);
    background-size: 50px;
    border-radius: 10px;
    color: azure;
    font-size: 20px;
    font-weight: 100px;
}

.teams {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 10px;
    justify-items: stretch;
}

.features {
    margin-left: 20px;
    display: flex;
    gap: 30px;
}

#vl {
    border-left: 10px solid rgba(73, 207, 140, 0.866);
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.ten-year {
    margin-top: 100px;
    display: flex;
    margin-left: 20px;
    font-size: larger;
    font-weight: 200;
}

.feature-details {
    padding-top: 500px;
    margin-top: 500px;
    gap: 60px;
}

#architects {
    size: 5px;
}

#ten-year {
    font-size: x-large;
    font-weight: 500px;
    background-color: cornflowerblue;
    color: azure;
    transform: translate(-10%, -100%);
}

.some-facts {
    margin-left: 20px;
    transition-duration: 2s;

}

.facts {
    margin-top: 50px;
    margin-left: 50px;
    align-items: center;
    display: flex;
    gap: 100px;
    transition: ease-in-out;
}

#icon {
    align-items: center;

}

#sponsors {
    text-align: center;
}

.sponsors {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 30px;
}

.footer {
    text-align: center;
    justify-content: center;
    background-color: rgb(227, 222, 215);
    color: rgba(41, 41, 30, 0.312);
    background-size: 500px;
    font-size: x-large;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.history {
    gap: 5px;
    display: flex;
    scroll-behavior: smooth;
    overflow-y: scroll;
    white-space: normal;
}

/*-----Media Query-----*/
@media only screen and (max-width:688px) {
    .nav {
        grid-template-columns: repeat(1, 1fr);
    }

    .archi-groups {
        flex-direction: column;
    }

    #archi-groups {
        flex-direction: column;
    }

    .teams {
        flex-direction: column;
    }

    .ten-year {
        flex-direction: column;
    }

    .some-facts {
        flex-direction: column;
    }

    .sponsors {
        flex-direction: column;
    }

    .bonus {
        flex-direction: column;
    }

    .facts {
        flex-direction: column;
    }

    .history {
        flex-direction: column;
    }
}